Source: libevmjit
Maintainer: Jeff Cliff <jeffrey.cliff@gmail.com>
Uploaders: Jeff Cliff <jeffrey.cliff@gmail.com>
Priority: optional
Section: interpreters
Standards-Version: 4.1.0
Homepage: https://github.com/ethereum/evmjit
Build-Depends: debhelper (>= 7),
	       cmake,
	       g++,
	       python3,
	       make,
	       llvm (>= 3),
	       zlib1g-dev
X-Python3-Version: >= 3.0

Package: libevmjit
Architecture: amd64
Depends: libc6, llvm
Description: Ethereum A library for just-in-time compilation of EVM code. 
 It can be used to substitute classic interpreter-like EVM Virtual Machine 
 in Ethereum client.
